@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


// color variable

$red : #dd3333;
$grey: #666666;
$box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);

.grid{
    display: grid;
    gap:1.5rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    outline: none; 
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;

}


html{
    overflow-x: hidden;
    scroll-behavior: smooth;

}

// =========== header section ==========


header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 4rem;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    padding: .2rem 5rem;
    background-color: white;
    border-bottom: solid 2px $red;

}

.logo{
    width: 100px;
    height: 60px;

    img{
        width: 100%;
        height: 100%;
    }
}

nav{
    padding-top: .8rem;
    // margin-right: 15rem;

    a{
        padding-right: 1.2rem;
        font-size: 1.3rem;
        font-family: sans-serif;
        color:black;

        &:hover{
            color: #dd3333;
        }
    }
}

.icons{
    padding-top: .8rem;
    i{
        display: inline-block;
        padding-right: .7rem;
        font-size: 1.6rem;

        &:hover{
            color:$red;
            transform: rotate(360deg);
            transition: all .8s;

        }
    }
}

.active{
    position: relative;
    color: $red;

}

.active::before{
    content: "";
    position: absolute;
    background-color:$red;
    width: 90%;
    height: 2px;
    bottom: -.75rem;
    left: 0;
}

#menu-bars{
    display: none;
}

.section{
    height: 57rem;
}

.container{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
}
.flex{
    display: flex;
}
.home{
    padding-top: 10rem;
    background-image: url('../images/man.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    // background-clip: padding-box;


    
}

.home_logo{
    display: block;
    width: 300px;
    height: 300px;
    margin:1rem auto;

    img{
        width: 100%;
        height: 100%;
        
    }
}
.home_data{
    color: white;
    text-align: center;
}
.home_title{
    text-align: center;
    color: white;
    line-height: 2rem;
    font-size: 2.2rem;
    padding-bottom: 1.3rem;

    span{
        color: $red;
        padding-left: .5rem 0;
    }
    
}
.home_data_p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;

    span{
        color:$red;
        font-family: sans-serif;
    }
}

.access_check_form{
    display: flex;
    justify-content: center;
}
.access_check_form2{
    padding-top: 1.5rem;

    
}

.input_box{
    padding: .8rem 1rem;
    width: 400px;
    border:solid 3px $red;
    border-radius: 20px;
    background-color: transparent;

    &::placeholder{
        color: $grey;
        text-align: center;
        font-family: sans-serif;
        font-size: 1.2rem;

    }
    

}
.submit_button{
    margin-top: 1.5rem;
    padding: .5rem 1rem;
    width: 150px;
    background-color: $red;
    color: white;
    font-size: 1.2rem;
    margin-left: 8rem;
    border: solid 3px $red;
    border-radius: 20px;
    cursor: pointer;
    font-family: sans-serif;

    &:hover{
        background-color: transparent;
        transition: all .4s ease;
    }


    
}

// =============== about section ========
.about{
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
}
.about_title{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;

    span{
        color: $red;

    }
}

.title_work{
    color: $grey;
    font-size: 1.6rem;
    padding-bottom: 2rem;
    text-align: center; 
}

.about_data{
    column-gap: 6rem;
    justify-content: center;
}

.list_title{
    padding-bottom: 1rem;
    font-size: 2rem;
    padding-left: 2rem;
}

.list_data{
    
    ul{
        list-style-type: none;

        li::before {
            content: "•"; 
            color: red;
            display: inline-block; 
            width: 2px;
            padding-right: .8rem;
            padding-left: .5rem;
            margin-left: -1em;
        
        }


        li{
            padding-bottom: 1.2rem;
            font-size: 1.5rem;
            color:black;
        }
    }
    
    
}
.img_data{
    margin-bottom: 5rem;
}

.img_data .card{
    padding-right: 1rem;
    padding-bottom: 2rem;
    // margin-bottom: 5rem;
    img{
        width: 40px;
        height: 40px;
        
        
    }
    h2{
        display: inline;
        padding-bottom: 1.5rem;
        padding-left: .5rem;
        font-size: 1.8rem;

    }
    p{
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: $grey;
    }

    .heading{
        padding-bottom: 1rem;
    }
}

.rate{
    padding-top: 3rem;
    margin-top: 5rem;

}

.rate_title{
    font-size: 2rem;
    text-align:center;
    span{
        color:$red;
    }
}

.container2{
    margin: 2rem 2rem;
    padding: 3rem;
    background-color: whitesmoke;


}

.monthly_rate{
    color: $grey;
    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    padding-bottom: 2rem;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 3rem;
    justify-content: center;
    justify-items: center;

    .card{
        padding: 3.2rem 3rem;
        background-color: #fff;
        border-radius: 10px;

        .top_data h3{
            font-size: 1.3rem;
            color: black;
            font-weight: 500;
            padding-bottom: 1.1rem;
        }
        .top_data p{
            font-size: 1.3rem;
            color:$grey;
            padding-bottom: 1.4rem;

            span{
                color: $red;
                font-size: 2rem;
            }
        }
        .initiation{
            font-size: 1rem;
            padding-bottom: 2rem;
        }

        
    }
}

.btn{
    background: $red;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.3rem;

    &:hover{
        background-color: transparent;
        border: solid 2px $red;
        color: black;
    }
}

.btn2{
    background: transparent;
    color:black;
    padding: .5rem 1rem;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 500;
    border: solid 2px $red;
    font-size: 1.3rem;
    margin-right: 1rem;

   
}


// ================ gallery section ===========

.gallery{
    padding: 3rem 5rem;
    margin: 2rem;
}

.gallery_title{
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    span{
        color: $red;

    }
}

.link_list{
    padding-bottom: 3rem;
    text-align: center;
    justify-content: center;

}

.gallery_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    row-gap: 2rem;
    column-gap: 1rem;
}

.gallery_card{
    img{
        width: 400px;
        border-radius: 20px;
        border: solid 1px $red;
        
    }
    &:hover img{
        transition: .3s;
        transform: scale(.9);
    }
}



// ============ footer ============




.footer_container{
    background-color: #121212;
    padding: 3rem 5rem;
    color: white;

}

.footer_content{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap:2rem;
    justify-content: center;
}

.footer_data{
    row-gap: .3rem;
    align-items: center;
}

.footer_title{
    font-size: 1.7rem;
    padding-bottom: 1.2rem;
}

.footer_text{
    padding: .3rem 0;
    font-size: 1.2rem;
    i{
        color: $red;
        font-size: 1.3rem;
        
    }
}

.social{
    font-size:1.3rem;

    a{
        background-color:$red;
        padding: .2rem .3rem;
        padding-top: .25rem;
        color: white;
        border-radius: 20px;
        align-items: center;
        margin-right: .7rem;

        &:hover{
            background-color: white;
            color: $red;
        }
    }
}

.copyright{
    background-color: #000;
    padding: 1rem;
    color: white;
    justify-content: center;
    justify-items: center;

    .copy_text{
        font-size: 1.2rem;
        i{
            color: $red;
            font-size:1.3rem;
            justify-items: center;
        }
    }
}