.main-container-wraper {
  width: 100%;
  margin: 0 auto;
}

.block-text-image, .block-image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.full-screen-block {
  min-height: 100vh;
  overflow: hidden;
}

.block-text-side {
  width: 49%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block-text-side .block-text-side-wraper {
  width: 90%;
}

.block-image-side {
  width: 49%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block-image-side.right img {
  width: 91%;
  margin-left: auto;
}

.block-image-side img {
  width: 100%;
}

.block-image-side .move-image-bottom {
  top: 100px;
  position: relative;
  z-index: 9;
}

@media screen and (min-width: 1700px) {
  .block-image-side .move-image-bottom {
    top: 145px;
  }
}

.block-text-image .block-text-side-wraper {
  padding-left: calc(100vw / 6);
  padding-right: 0;
}

.block-image-text .block-text-side-wraper {
  padding-right: calc(100vw / 6);
  padding-left: 0;
  margin-right: 0;
  margin-left: auto;
}

.paralax-block-text h2, .paralax-block-text h3, .paralax-block-text p {
  color: white;
}

.paralax-block-text {
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.paralax-block-text .block-text-side-wraper {
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.centered-text-block-wrap {
  padding: 70px 0;
  padding-top: 150px;
  margin: 0 auto;
  display: block;
}

.centered-text-block {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.big-image-wraper {
  background-color: #F7F7F7;
  margin-bottom: 120px;
}

.big-image-wraper img {
  position: relative;
  top: 60px;
}

.block.centered-text-termometr-block {
  padding: 60px 0 130px 0;
}

.thermometr-desktop {
  display: block;
}

.thermometr-mobile {
  display: none;
}

.testimonials_heading {
  font-size: 11px;
  font-family: "MB Empire";
  color: #707070;
  text-transform: uppercase;
  line-height: 1.636;
}

.theremometer-section5 {
  min-height: 650px;
  height: 90vh;
  max-height: 890px;
}

.theremometer-section3-video {
  width: 23.9%;
  position: absolute;
  top: 10%;
  left: 38%;
  z-index: 9;
  border-radius: 4%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.theremometer-section3-video div {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.theremometer-section3-video video {
  display: block;
  width: 100%;
  min-height: 100px;
}

.theremometer-section3-mobile {
  width: 48.3%;
  position: absolute;
  top: 12%;
  left: 10%;
  z-index: 9;
  border-radius: 4%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.theremometer-section3-mobile div {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.theremometer-section3-mobile video {
  display: block;
  width: 100%;
  min-height: 100px;
}

.theremometer-section5-video {
  width: 23.9%;
  position: absolute;
  top: 12.4%;
  left: 36.5%;
  z-index: 9;
  border-radius: 4%;
  overflow: hidden;
  height: 25vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.theremometer-section5-video div {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.theremometer-section5-video video {
  display: block;
  width: 100%;
  min-height: 100px;
}

.theremometer-section5-mobile {
  width: 48.3%;
  position: absolute;
  top: 12%;
  left: 44%;
  z-index: 9;
  border-radius: 4%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.theremometer-section5-mobile div {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.theremometer-section5-mobile video {
  display: block;
  width: 100%;
  min-height: 100px;
}

.theremometer-section3 .block-image-side, .theremometer-section5 .block-image-side {
  position: relative;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .hero .cover-bg .cover-bg-img.thermometer-hero-bg {
    background-position-x: 32% !important;
  }
}

@media screen and (max-width: 991px) {
  .theremometer-section8 {
    min-height: unset;
    padding: 50px 0;
  }
  .theremometer-section3 {
    min-height: 700px;
    height: auto;
  }
  .theremometer-section5 {
    max-height: unset;
    height: auto;
  }
  .theremometer-section5 .block-image-side, .theremometer-section5 .block-text-side, .theremometer-section3 .block-image-side, .theremometer-section3 .block-text-side, .theremometer-section8 .block-image-side, .theremometer-section8 .block-text-side {
    width: 100%;
  }
  .theremometer-section4 {
    min-height: 90vh;
  }
}

@media screen and (max-width: 767px) {
  .theremometer-section8 {
    padding-bottom: 0;
  }
  .theremometer-section8 .move-image-bottom {
    margin-bottom: -120px;
  }
  .big-image-wraper {
    margin-bottom: 80px;
  }
  .centered-text-block-wrap {
    padding-top: 80px;
  }
  .centered-text-block-wrap.extra-padding-mobile {
    padding-top: 120px;
  }
  .thermometr-desktop {
    display: none;
  }
  .thermometr-mobile {
    display: block;
  }
  .main-container-wraper {
    width: 100%;
    margin: 0 auto;
  }
  .block-text-side {
    width: 100%;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .block-text-side.extra-padding-mobile {
    padding-top: 30px;
  }
  .block-text-side .block-text-side-wraper {
    width: 100%;
    max-width: 390px;
  }
  .block-image-side {
    width: 100%;
  }
  .block-image-side.right img {
    width: 100%;
    margin-left: auto;
  }
  .block-image-side img {
    width: 100%;
  }
  .block-image-side .move-image-bottom {
    top: 0px;
  }
  .block-text-image .block-text-side-wraper {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 60px 0;
  }
  .block-text-image .block-text-side-wraper.reduce-padding-mobile {
    padding: 0 0 20px 0;
  }
  .block-image-text .block-text-side-wraper {
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 60px 0;
  }
  .block-image-text .block-text-side-wraper.mobile-padding, .block-text-image .block-text-side-wraper.mobile-padding {
    padding: 60px 0;
  }
  .paralax-block-text {
    height: 100vh;
  }
  .big-image-wraper.thermometer_fonts img {
    top: 0;
  }
  .theremometer-section5 {
    padding-top: 80px;
  }
}
/*# sourceMappingURL=thermometr.css.map */